<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Lab2 Suite">
    <listeners>
        <listener class-name="listeners.CustomTestListener"/>
        <listener class-name="listeners.CustomSuiteListener"/>
        <listener class-name="listeners.CustomExecutionListener"/>
    </listeners>

    <test name="ui Tests">
        <classes>
            <class name="ui.tests.ButtonsPageTest"/>
        </classes>
    </test>

    <test name="api Tests">
        <classes>
            <class name="api.tests.ApiTests"/>
        </classes>
    </test>

    <parameter name="a" value="123"/>
    <test name="MyTest">
        <classes>
            <class name="your.package.Lab2Tests"/>
        </classes>
    </test>

    <test name="Other Tests">
        <classes>
            <class name="others.Lab2Tests"/>
        </classes>
    </test>
</suite>
